<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title><%=message%></title>

    <!-- Custom fonts for this template -->
    <link
      href="/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet" />

    <!-- Custom styles for this page -->
    <link
      href="/vendor/datatables/dataTables.bootstrap4.min.css"
      rel="stylesheet"
    />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <%- include("components/sidebar") %>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <%-include("components/topbar")%>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <h1 class="h3 mb-3 text-gray-800">Import CSV SAP</h1>

            <!-- Form Input Kategori -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                  Import CSV SAP
                </h6>
              </div>
              <div class="card-body">
                <form id="importcsv">
                  <div class="form-group">
                    <label for="keterangan">Keterangan</label>
                    <input
                      type="text"
                      class="form-control"
                      id="keterangan"
                      name="keterangan"
                      placeholder="Masukkan Keterangan"
                    />
                  </div>
                  <div class="form-group">
                    <label for="sap">Upload File SAP</label>
                    <input
                      type="file"
                      class="form-control"
                      id="file"
                      name="file"
                      placeholder="Upload File sap"
                    />
                  </div>

                  <button
                    id="button_submit"
                    type="submit"
                    class="btn btn-danger"
                  >
                    Simpan
                  </button>
                </form>
              </div>
            </div>

            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                  History Upload SAP
                </h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    class="table table-bordered"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                  >
                    <thead>
                      <tr>
                        <th>No</th>
                        <th>Keterangan</th>
                        <th>Oleh</th>
                        <th>Jumlah Terdampak</th>
                        <th>Tanggal</th>
                        <th>Aksi</th>
                      </tr>
                    </thead>

                    <tbody>
                      <% let c = 1 %> <% data.history_upload.forEach(e => {%>
                      <tr>
                        <td><%= c %></td>
                        <td><%=e.keterangan%></td>
                        <td><%=e.user.name%></td>
                        <td><%=e.details_upload.length%></td>
                        <td><%= new Date(e.create_at).toLocaleString() %></td>
                        <td>
                          <a href="/import-csv-shp/<%= e.id %>">View Details</a>
                        </td>
                      </tr>
                      <% c++ %> <% }); %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Your Website 2020</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Select "Logout" below if you are ready to end your current session.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>
    <script>
      async function deletes(id, name) {
        try {
          alertify.confirm(
            "Konfirmasi Hapus",
            "Apakah kamu yakin untuk menghapus " + name,
            async function () {
              try {
                const response = await fetch("/api/kategori", {
                  method: "DELETE",
                  headers: {
                    "Content-Type": "application/json",
                    Accept: "application/json",
                  },
                  body: JSON.stringify({
                    id: id,
                  }),
                });
                const resJson = await response.json();
                if (resJson.error) throw new Error(resJson.message);
                alertify.success(resJson.message);
                setTimeout(() => window.location.reload(), 1500);
              } catch (error) {
                alertify.error(error.message);
              }
            },
            function () {
              alertify.error("cancel");
            }
          );
        } catch (error) {}
      }
      async function edit(id, name, category_id) {
        alertify.confirm(
          "Edit Data",
          `
        <form id="editForm">
        <div class="form-group">
            <label>Nama:</label>
            <input type="text" id="ediName" value="${name}" class="ajs-input"/>
        </div>
        <div class="form-group">
            <label>Kode Kategori:</label>
            <input type="number" id="editCateogry_id" value="${category_id}" class="ajs-input"/>
        </div>
        </form>
  `,
          async function () {
            try {
              const newName = document.getElementById("ediName").value;
              const newStatus =
                document.getElementById("editCateogry_id").value;

              const response = await fetch("/api/kategori", {
                method: "PUT",
                headers: {
                  "Content-Type": "application/json",
                  Accept: "application/json",
                },
                body: JSON.stringify({
                  id: id,
                  name: newName,
                  category_id: newStatus,
                }),
              });

              const resJson = await response.json();
              if (resJson.error) throw new Error(resJson.message);

              alertify.success(resJson.message);
              setTimeout(() => window.location.reload(), 1500);
            } catch (error) {
              alertify.error(error.message);
            }
          },
          function () {
            alertify.error("Cancel");
          }
        );
      }
      $(document).ready(function () {
        $("#importcsv").on("submit", async function (e) {
          $("#button_submit").hide();
          const form = document.getElementById("importcsv");
          e.preventDefault();
          try {
            const formData = new FormData(form);
            const response = await fetch("/api/import-csv-shp", {
              method: "POST",
              headers: {
                Accept: "application/json",
              },
              body: formData,
            });
            const resJson = await response.json();
            if (resJson.error) throw new Error(resJson.message);
            alertify.success(resJson.message);
            setTimeout(() => {
              window.location.reload();
            }, 1000);
          } catch (error) {
            $("#button_submit").show();
            alertify.alert("Terjadi Kesalahan!", error.message);
          }
        });
      });
    </script>
  </body>
</html>
