<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title><%=message%></title>

    <!-- Custom fonts for this template -->
    <link
      href="vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet" />

    <!-- Custom styles for this page -->
    <link
      href="vendor/datatables/dataTables.bootstrap4.min.css"
      rel="stylesheet"
    />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <%- include("components/sidebar") %>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <%-include("components/topbar")%>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <h1 class="h3 mb-3 text-gray-800">Material</h1>

            <!-- Form Input Kategori -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                  Tambah Material
                </h6>
              </div>
              <div class="card-body">
                <form id="save-materials">
                  <div class="form-group">
                    <label for="name">Kategori Barang</label>
                    <select
                      class="form-control"
                      id="category_id"
                      name="category_id"
                      onchange="handleChangekategori()"
                    >
                      <option>Pilih Kategori Barang</option>
                      <% data.kategori.forEach(e => {%>
                      <option value="<%= e.id %>">
                        <%= e.category_id %> - <%= e.name %>
                      </option>
                      <% }); %>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="name">ID Material</label>
                    <div class="d-flex justify-content-start">
                      <input
                        type="number"
                        class="form-control w-25"
                        id="kode_kategori"
                        name="kode_kategori"
                        placeholder="Kode Kategori Otomatis"
                        disabled
                      />
                      <input
                        type="number"
                        class="form-control w-75"
                        id="material_id"
                        name="material_id"
                        placeholder="Masukkan ID Material"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="name">Kategori Gudang</label>
                    <select
                      class="form-control"
                      id="kategori_gudang_id"
                      name="kategori_gudang_id"
                    >
                      <option>Pilih Kategori Gudang</option>
                      <% data.kategori_gudang.forEach(e => {%>
                      <option value="<%= e.id %>">
                        <%= e.valuation_class_id %> - <%=
                        e.valuation_description %>
                      </option>
                      <% }); %>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="name">Material Description</label>
                    <input
                      type="text"
                      class="form-control"
                      id="material_description"
                      name="material_description"
                      placeholder="Masukkan Material Description"
                    />
                  </div>
                  <div class="form-group">
                    <label for="name">Satuan</label>
                    <input
                      type="text"
                      class="form-control"
                      id="satuan"
                      name="satuan"
                      placeholder="Masukkan Satuan"
                    />
                  </div>
                  <div class="form-group">
                    <label for="location">Lokasi Rak</label>
                    <input
                      type="text"
                      class="form-control"
                      id="location"
                      name="location"
                      placeholder="Masukkan Lokasi Rak"
                    />
                  </div>

                  <button type="submit" class="btn btn-danger">Simpan</button>
                </form>
              </div>
            </div>

            <!-- Daftar Kategori -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                  Daftar Materials
                </h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    class="table table-bordered"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                  >
                    <thead>
                      <tr>
                        <th>No</th>
                        <th>Kategori Barang</th>
                        <th>Kategori Gudang</th>
                        <th>ID Material</th>
                        <th>Material Description</th>
                        <th>Jumlah (SAP*)</th>
                        <th>Jumlah Stok Fisik</th>
                        <th>Satuan</th>
                        <th>Barcode</th>
                        <th>Lokasi Rak</th>
                        <th>Tanggal</th>
                        <th>Aksi</th>
                      </tr>
                    </thead>

                    <tbody>
                      <% let c = 1 %> <% data.material.forEach(e => {%>
                      <tr>
                        <td><%= c %></td>
                        <td><%=e.category.name%></td>
                        <td><%=e.valuation_class.valuation_description%></td>
                        <td>
                          <a href="/materials/<%= e.id %>"
                            ><%=e.category.category_id%><%=e.material_id%></a
                          >
                        </td>
                        <td><%=e.material_description%></td>
                        <td><%=e.jumlah%></td>
                        <td><%=e.jumlah_stok_fisik%></td>
                        <td><%=e.satuan%></td>

                        <td><a href="<%=e.barcode%>">View Barcode</a></td>
                        <td><%=e.location%></td>
                        <td><%= new Date(e.update_at).toLocaleString() %></td>
                        <td>
                          <button
                            class="btn btn-warning"
                            onclick="edit('<%=e.id%>','<%=e.category.id%>' ,'<%=e.category.name%>' ,'<%=e.material_id%>', '<%=e.valuation_class.id%>','<%=e.valuation_class.valuation_description%>', '<%=e.material_description%>', '<%=e.jumlah%>', '<%=e.jumlah_stok_fisik%>', '<%=e.satuan%>', '<%=e.location%>')"
                          >
                            Edit
                          </button>
                          <button
                            class="btn btn-danger"
                            onclick="deletes('<%=e.id%>','<%=e.material_description%>')"
                          >
                            Hapus
                          </button>
                        </td>
                      </tr>
                      <% c++ %> <% }); %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Your Website 2020</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Select "Logout" below if you are ready to end your current session.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>
    <script>
      async function handleChangekategori() {
        try {
          const category_id = $("#category_id").val();
          const cateogiryDetails = await fetch(
            "/api/kategori?id=" + category_id,
            {
              method: "GET",
              headers: {
                Accept: "application/json",
              },
            }
          );
          const resJson = await cateogiryDetails.json();
          if (resJson.error) throw new Error(resJson.message);
          $("#kode_kategori").val(resJson.data.category_id);
        } catch (error) {
          alertify.error(error.message);
        }
      }
      async function deletes(id, name) {
        try {
          alertify.confirm(
            "Konfirmasi Hapus",
            "Apakah kamu yakin untuk menghapus " + name,
            async function () {
              try {
                const response = await fetch("/api/materials", {
                  method: "DELETE",
                  headers: {
                    "Content-Type": "application/json",
                    Accept: "application/json",
                  },
                  body: JSON.stringify({
                    id: id,
                  }),
                });
                const resJson = await response.json();
                if (resJson.error) throw new Error(resJson.message);
                alertify.success(resJson.message);
                setTimeout(() => window.location.reload(), 1500);
              } catch (error) {
                alertify.error(error.message);
              }
            },
            function () {
              alertify.error("cancel");
            }
          );
        } catch (error) {}
      }
      async function edit(
        id,
        categoryId,
        categoryName,
        material_id,
        valuation_classId,
        valuation_className,
        material_description,
        jumlah,
        jumlah_stok_fisik,
        satuan,
        location
      ) {
        alertify.confirm(
          "Edit Data",
          `
             <div class="card-body">
                <form id="edit-materials">
                  <div class="form-group">
                    <label for="category_id_edit">Kategori Barang</label>
                    <select
                      class="form-control"
                      id="category_id_edit"
                      name="category_id_edit"
                    >
                      <option value="${categoryId}">${categoryName}</option>
                      <% data.kategori.forEach(e => {%>
                      <option value="<%= e.id %>">
                        <%= e.category_id %> - <%= e.name %>
                      </option>
                      <% }); %>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="material_id_edit">ID Material</label>
                    <div class="d-flex justify-content-start">
                      <input
                        type="number"
                        class="form-control"
                        id="material_id_edit"
                        name="material_id_edit"
                        placeholder="Masukkan ID Material"
                        value="${material_id}"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="kategori_gudang_id_edit">Kategori Gudang</label>
                    <select
                      class="form-control"
                      id="kategori_gudang_id_edit"
                      name="kategori_gudang_id_edit"
                    >
                      <option value="${valuation_classId}">${valuation_className}</option>
                      <% data.kategori_gudang.forEach(e => {%>
                      <option value="<%= e.id %>">
                        <%= e.valuation_class_id %> - <%=
                        e.valuation_description %>
                      </option>
                      <% }); %>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="material_description_edit">Material Description</label>
                    <input
                      type="text"
                      class="form-control"
                      id="material_description_edit"
                      name="material_description_edit"
                      placeholder="Masukkan Material Description"
                      value="${material_description}"
                    />
                  </div>
                  <div class="form-group">
                    <label for="jumlah_edit">Jumlah (SAP*)</label>
                    <div class="d-flex justify-content-start">
                      <input
                        type="number"
                        class="form-control"
                        id="jumlah_edit"
                        name="jumlah_edit"
                        placeholder="Jumlah"
                        value="${jumlah}"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="jumlah_stok_fisik_edit">Jumlah Stok Fisik</label>
                    <div class="d-flex justify-content-start">
                      <input
                        type="number"
                        class="form-control"
                        id="jumlah_stok_fisik_edit"
                        name="jumlah_stok_fisik_edit"
                        placeholder="Jumlah"
                        value="${jumlah_stok_fisik}"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="satuan_edit">Satuan</label>
                    <input
                      type="text"
                      class="form-control"
                      id="satuan_edit"
                      name="satuan_edit"
                      placeholder="Masukkan Satuan"
                      value="${satuan}"
                    />
                  </div>
                  <div class="form-group">
                    <label for="location_edit">Lokasi Rak</label>
                    <input
                      type="text"
                      class="form-control"
                      id="location_edit"
                      name="location_edit"
                      placeholder="Masukkan Lokasi"
                      value="${location}"
                    />
                  </div>
                </form>
              </div>
      `,
          async function () {
            try {
              const data = {
                id: id,
                category_id: $("#category_id_edit").val(),
                material_id: $("#material_id_edit").val(),
                valuation_class_id: $("#kategori_gudang_id_edit").val(),
                material_description: $("#material_description_edit").val(),
                jumlah: $("#jumlah_edit").val(),
                jumlah_stok_fisik: $("#jumlah_stok_fisik_edit").val(),
                satuan: $("#satuan_edit").val(),
                location: $("#location_edit").val(),
              };
              console.log(data);
              const response = await fetch("/api/materials", {
                method: "PUT",
                headers: {
                  "Content-Type": "application/json",
                  Accept: "application/json",
                },
                body: JSON.stringify(data),
              });

              const resJson = await response.json();
              if (resJson.error) throw new Error(resJson.message);

              alertify.success(resJson.message);
              setTimeout(() => window.location.reload(), 1500);
            } catch (error) {
              alertify.error(error.message);
            }
          },
          function () {
            const data = {
              id: id,
              category_id: $("#category_id_edit").val(undefined),
              material_id: $("#material_id_edit").val(undefined),
              valuation_class_id: $("#kategori_gudang_id_edit").val(undefined),
              material_description: $("#material_description_edit").val(
                undefined
              ),
              jumlah: $("#jumlah_edit").val(undefined),
              jumlah_stok_fisik: $("#jumlah_stok_fisik_edit").val(undefined),
              satuan: $("#satuan_edit").val(undefined),
              location: $("#location_edit").val(undefined),
            };
            alertify.error("Cancel");
          }
        );
      }
      $(document).ready(function () {
        $("#save-materials").on("submit", async function (e) {
          e.preventDefault();
          try {
            const data = {
              material_description: e.target.material_description.value,
              category_id: e.target.category_id.value,
              valuation_class_id: e.target.kategori_gudang_id.value,
              kode_kategori: e.target.kode_kategori.value,
              material_id: e.target.material_id.value,
              satuan: e.target.satuan.value,
              location: e.target.location.value,
            };

            for (const key in data) {
              if (!data[key])
                throw new Error(key.toUpperCase() + " Diperlukan");
            }
            data.kode_kategori = undefined;
            const response = await fetch("/api/materials", {
              method: "POST",
              headers: {
                Accept: "application/json",
                "Content-Type": "application/json",
              },
              body: JSON.stringify(data),
            });
            const resJson = await response.json();
            if (resJson.error) throw new Error(resJson.message);
            alertify.success(resJson.message);
            setTimeout(() => {
              window.location.reload();
            }, 1000);
          } catch (error) {
            alertify.error(error.message);
          }
        });
      });
    </script>
  </body>
</html>
